#gallery {
  text-align: center;
  width: 90%;
  max-width: 1300px;
  background-color: #153850;
  margin: 20px auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

#gallery img {
  width: 300px;
  max-width: 90%;
  -webkit-transition-duration: 0.6s; /*Webkit: animation duration*/
  -moz-transition-duration: 0.6s; /*Mozilla: animation duration*/
  -o-transition-duration: 0.6s; /*Opera: animation duration*/
  opacity: 1.0; /*initial opacity of the image*/
  z-index: 1; /*place non-hover images behind the hover image*/
  margin: 0; /*remove default margin for images*/
  position: relative; /*solve the problem with z-index in Chrome*/
}

#gallery img:hover { 
  -webkit-transform: scale( 2.0 ); /*Webkit: increase size to 2.0x*/
  -moz-transform: scale( 2.0 ); /*Mozilla: scaling*/
  -o-transform: scale( 2.0 ); /*Opera: scaling*/
  box-shadow: 0px 0px 25px gray /*CSS3 shadows: 25px fuzzy shadow around the entire image*/
  -webkit-box-shadow: 0px 0px 25px gray /*Webkit: shadows*/
  -moz-box-shadow: 0px 0px 25px gray; /*Mozilla: shadows*/
  opacity: 1; /*default opacity*/
  z-index: 10; /*place hover image in front the non-hover images*/
}