body
{
  background-image: url("images/background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.gameLogo
{
  display: block;
  margin: auto;
  height: auto;
  width: 70%;
}

video
{
   display: block;
   margin: 0 auto;
   width: 100%;
   height: auto;
   max-width: 900px;
}

.comingToSteam
{
   margin: auto;
   width: 64.99999%;
   padding: 10px;
   text-align: center;
   font-size: 50px;
   font-weight: bold;
   color: #ffffff;
}

h1
{
   margin: auto;
   width: 64.99999%;
   color: #ffffff;
   padding: 10px;
}

ul.b
{
   list-style-type: square;
   color: #ffffff;
   width: 64.99999%;
   margin: auto;
   padding-bottom: 30px;
}

li
{
   margin-top: 10px;
}

.gradientTop
{
   width: 100%;
   background: linear-gradient(rgba(255, 153, 0, 1), rgba(255, 153, 0, 0));
}

.gradientBottem
{
   width: 100%;
   background: linear-gradient(rgba(34, 0, 68, 0), rgba(34, 0, 68, 1));
}

.companyLogo
{
   display: block;
   margin: auto;
   padding-top: 70px;
}

.copyrightText
{
   position: static;
   background-color: #220044;
   padding-top: 2px;
   padding-bottom: 10px;
   color: #00a0ff;
   text-align: center;
   font-size: 12px;
}