body
{
  background-image: url("images/background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.gameLogo
{
  display: block;
  margin: auto;
  height: auto;
  width: 70%;
}

video
{
   display: block;
   margin: 0 auto;
   width: 100%;
   height: auto;
   max-width: 900px;
}

.comingToSteam
{
   padding: 30px;
   text-align: center;
   font-size: 36px;
   font-weight: bold;
   color: #ffffff;
   font-family: Arial, Helvetica, sans-serif;
   background-color: #000000;
   border-radius: 8px;
   margin-top: 20px;
   margin-bottom: 20px;
   width: 70%;
   margin: auto;
}


.gamelink
{
   text-decoration: none;
}

.gamelink:link {
    color: #ff9900;
}

.gamelink:visited {
    color: #7f00ff;
}

.gamelink:hover {
    color: #ffc266;
}

.gamelink:active {
    color: #ff9900;
}


h1
{
   margin: auto;
   color: #ffffff;
   padding: 20px;
   font-size: 30px;
   text-align: center;
   font-family: Arial, Helvetica, sans-serif;
}

ul.b
{
   list-style-type: square;
   color: #ffffff;
   width: 65.99999%;
   margin: auto;
   padding-bottom: 30px;
   font-family: Arial, Helvetica, sans-serif;
}

li
{
   margin-top: 10px;
}

.gradientTop
{
   width: 100%;
   background: linear-gradient(rgba(255, 153, 0, 1), rgba(255, 153, 0, 0));
}

.gradientBottem
{
   width: 100%;
   background: linear-gradient(rgba(34, 0, 68, 0), rgba(34, 0, 68, 1));
}

.companyLogo
{
   display: block;
   margin: auto;
   padding-top: 70px;
}

.copyrightText
{
   position: static;
   background-color: #220044;
   padding-top: 2px;
   padding-bottom: 12px;
   color: #00a0ff;
   text-align: center;
   font-size: 12px;
   font-family: Arial, Helvetica, sans-serif;
}